<% provide(:title, "Sobre a Fabrica") %>

<div id="content">
  <h1>Bem vindo à Fábrica de Groselha.</h1>
  <p>
Uma vez eu ouvi de um desses palestrantes motivacionais, que toda vez que eu pensasse em consumir algo, eu deveria ao invés disso, produzir algo. Apesar de eu achar os métodos que ele apresentou um pouco extremos, eu vi no que ele dizia um pouco de verdade, há um grande valor em produzir que não pode ser encontrado no consumo.
  </p>
  <p>
    
Esse Blog é o lugar em que eu pretendo praticar essa produção. Aprender a escrever e expressar minhas ideias, falar um pouco sobre os temas que me interessam.
  </p>
</div>
