<% provide(:title, "Sobre mim.") %>
<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "bia.jpg" %>
  </div>

  <div id="content">
    <h1>Oi, eu sou a bia!</h1>
    <p>Lorem ipsum dolor sit amet, sit ei prompta docendi vituperata. At vel sint dicam antiopam, per solum mazim perfecto ne, mazim ubique percipitur eos at. Nostrum appareat senserit est ea. Meliore corrumpit eum id, eu eam labores vivendum inimicus. Eius brute veniam ut has, at libris verear ius, vel tritani quaeque no.
    </p>
  </div>
</div>