<% provide(:title, "Sobre a Fábrica") %>

<div class="content">
  <h1>Bem vindo à Fábrica de Groselha.</h1>
  <p>
Existem muitos empecilhos para que alguém comece a construir qualquer coisa, para muitos é normal ter diversas ideias, mas não começar a trabalhar nenhuma delas, seja por não saber por onde começar, por ver a execução de seus planos como algo impossível ou simplesmente por não acreditar no próprio potencial, tudo isso contribui para que o sujeito fique na inércia. Mas algo que eu aprendi (e que é óbvio pra muita gente), é que a melhor forma de vencer esta inércia é gerar uma mudança de atitude, e botar a mão na massa e começar a produzir.
  </p>
  <p>
Esse Blog é o lugar em que eu pretendo praticar essa produção. Aprender a escrever e expressar minhas ideias, falar um pouco sobre os temas que me interessam.
  </p>
<h2>Porque Groselha Factory?</h2>
<p>
Bem, eu achei o nome engraçadinho. Em alguns lugares do brasil, a expressão "Falar Groselha" significa falar besteira, bobagem... Então eu decidi que como é inevitável o fato de que eu vou falar muita besteira antes de achar que estou falando algo coerente, o nome cairia bem.
</p>
<h2>Sobre o Autor</h2>
<p>
Phellps é formado em Direito, mas não quer trabalhar com isso. Hoje ele mora em Viena, Austria e estuda programação por conta própria. Nos intervalos entre estudar Alemão e Programação, ele decidiu dedicar seu tempo fazendo algo que ele sempre quis fazer, escrever várias groselhas.
</p>
</div>
