<% @posts.each do |post| %>
	<div class="post_wrapper">
		<h2 class="title" data-no-turbolink="false"><%= link_to post.title, post, :"data-no-turbolink" => false %></h2>
		<p class="date"><%= l post.created_at, format: ("%d de %B de %Y") %></p>
	</div>
<% end %>