/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';
@import "font-awesome-sprockets";
@import "font-awesome";

* {
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4, h5{
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  margin: 0 0 0 0;
}

body {
  background-color: #dae2ea;
  font-family: 'Open sans', sans-serif;
}
/*grid view*/

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
.col-main{
  padding: 5px;
}


.filler {display: none;}

@media only screen and (min-width: 1300px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .filler {display: block;}
    .col-main {width: 768px;}
    .col-sidebar {width: 300px;}
}



.logo{
  padding: 1px;
  max-height: 150px;
}

.menu{
  background-color: #5675ba;
  color: white;
  margin-bottom: 1.7em;
  
  .nav-bar {
    padding: 0;
    height: 51px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      text-align: center;
      padding: 1em;
      text-decoration: none;
  }

  li a:hover, .selected {
      background-color: #48639e;
  }

  .dev-menu {
    float: right;
  }
}



.alert {
  position: absolute;
  padding-left: 15%
}

.col-sidebar {
  h4{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.4em;
    margin-top: 0.8em;
  }

  .social {
    margin-bottom: 1em;
    padding: 1em;
    padding-top: 0;
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0em;
    
    li {
      display: inline-block;
      color: #5675ba;
      position: relative;
      i{
        font-size: 3em;
        margin: 0 0.1em 0 0.1em;
      }
    }
  }
  .label{
    font-size: 1em;
    visibility: hidden;
    position: absolute;
    width: 120px;
    color: white;
    background-color: #48639e;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -60px;
  }

  .label::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #48639e transparent;
  }

  li:hover .label {
  visibility: visible;
  }
  li:hover {
  color: #48639e;
  }
}

#tag_cloud {
  a {
    color: white;
    background-color: #5675ba;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    font-size: 0.8em;
    border-radius: 0.3em;
    padding: 0.5em 0.2em 0.5em 0.2em;
    margin-bottom: 0.5em
  }

  a:hover {
    background-color: #48639e;
  }
}

.footer {
  font-size: 0.8em;
  text-align: center;
  padding: 1em;
  color: #b7c1cc;
}

.content {
  background-color: white;
  padding: 2em;
  margin-bottom: 1em;
  border: 1px solid grey;
}