/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'normalize';
@import "font-awesome-sprockets";
@import "font-awesome";

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
h1, h2, h3, h4 {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 0 0;
}

/*grid view*/
* {
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
.filler {
  display: none;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .filler {display: block;}
    .col-main {width: 768px;}
    .col-sidebar {width: 350px;}
}

body {
  background-color: #e2e0de;
}

.logo{
  padding: 1px;
  max-height: 150px;
}

.menu{
  background-color: #009900;
  color: white;
  
  .nav-bar {
    padding: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      text-align: center;
      padding: 1em;
      text-decoration: none;
  }

  li a:hover {
      background-color: #007200;
  }

  .dev-menu {
    float: right;
    margin-top: -6px;
    .button {
      font-size: .8em;
      margin-left: .5em;
      border-radius: 1.5em;
      &:hover {
        border: 1px solid #33acb7;
      }
    }
  }
}

.button {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  &:hover {
    border: 1px solid #33acb7;
    color: #33acb7;
    a {
      color: #33acb7 !important;
    }
  }
}

.alert {
  position: absolute;
  padding-left: 15%
}

.col-sidebar {
  .social {
    margin-bottom: 1em;
    padding: 1em;
  }
  ul {
    list-style: none;
    font-size: 3em;
    margin: 0;
    padding: 0.5em;
    li {
      display: inline-block;
      color: green;
    }
  }
}

#tag_cloud {

  a {
    color: white;
    background-color: green;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border-radius: 0.5em;
    padding: 0.5em 0.2em 0.5em 0.2em;
    margin-bottom: 0.5em
  }
}

.footer {
  height: 1em;
  text-align: center;
  padding: 1em;
}