  <ul>
    <li class="category">Social</li>
    <li><a href="https://twitter.com/biabrasiliano">Twitter</a></li>
    <li><a href="https://www.instagram.com/biabrasiliano/">Instagram</a></li>
    <li><a href="mailto:beatriz.brasiliano@gmail.com ">Email</a></li>
  </ul>