  <ul>
    <li class="category">Social</li>
    <li><a href="https://twitter.com/Phellpsbr">Twitter</a></li>
    <li><a href="gith">Github</a></li>
    <li><a href="mailto:phbrasiliano@gmail.com ">Email</a></li>
  </ul>